*{box-sizing: border-box;}
.header_content{
    width: 100%;
    height: 60px;
    border: hidden;
    background-color: rgb(98, 98, 98);
}

.header_content td{
    border-bottom: solid 1px black;
   padding: 7px;
   background-color: gray;
}
.header_content th{
    border-bottom: solid 1px black;
   padding: 7px;
   text-align: left;
   font-size: 1.2em;
}

.body_content{
    width: 100%;
    height: 700px;
    border: solid;
    display: flex;
}
.links{
    width: 40%;
    height: 100%;
}
ul{margin-top: 45%; margin-left: 20%;}
li{margin-top: 10px;}

.blog_post{
    margin-top: 10px;
    padding: 20px;
    width: 55%;
    height: 100%;
    border: solid 2px;
    border-radius: 50px;
}
img{
    width: 100%;
    margin: auto;
    height: 35%;
}
.blog_post p, h2, h4{padding: 10px;}

.footer_content{
    width: 100%;
    height: 60px;
    border: hidden;
    background-color: rgb(98, 98, 98);
    text-align: center;
}