form{width: 200px; margin: auto; background-color: bisque; padding: 10px; border: solid 2px grey;}

form div{margin: auto;}

.captcha, .result{background-color: aqua;
width: 70%;
min-height: 70px;
border: solid 1px purple;
margin: 10px;
display: flex;
align-items: center;
font-size: 2em;
justify-content: center;
}

.result{background-color: blueviolet; width: 100%; }