form{width: 60%; border: solid 3px; margin: auto; padding: 10px;}

input{margin-top: 10px;padding: 5px; align-content: center;}

div{margin-left: 25%; width: 20%; height: 50px; text-align: center; border: solid 1px; font-weight: bold; font-size: large; background-color: lightblue;}

label{display: inline-block; width: 150px;}
button{width: 100px; padding: 5px;}