.content {
    border: solid 1px black;
    width: 80%;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}



td{
    border-bottom: solid 1px black;
    padding: 7px;
    
}
tr{
    border-bottom: solid 1px black;
    padding: 7px;
    text-align: left;
    font-size: 1.2em;
}